{
  "root": true,
  "env": {
    "node": true,
    "browser": true
  },
  "extends": [
    "sanity",
    "sanity/typescript",
    "sanity/react",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "plugin:react/jsx-runtime"
  ],
  "rules": {
    "no-use-before-define": "off",
    "no-shadow": "off",
    "consistent-return": "off",
    "react/require-default-props": "off",
    "no-negated-condition": "off",
    "react/jsx-no-bind": "off",
    "no-unused-expressions": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
